
<footer class="bg-light border-top mt-5">
  <div class="container py-3">
    <div class="row text-center text-md-start align-items-center">
      
      <!-- Social Icons -->
      <div class="col-12 col-md-4 mb-2 mb-md-0">
        <div class="d-flex justify-content-center justify-content-md-start gap-3">
          <i class="fa-brands fa-square-instagram"></i>
          <i class="fa-brands fa-square-facebook"></i>
          <i class="fa-brands fa-square-whatsapp"></i>
          <i class="fa-brands fa-x-twitter"></i>
        </div>
      </div>

      <!-- Copyright -->
      <div class="col-12 col-md-4 text-center mb-2 mb-md-0">
        &copy; Staysia Private Limited
      </div>

      <!-- Links -->
      <div class="col-12 col-md-4 text-center text-md-end">
        <a href="/privacy" class="me-2">Privacy</a>
        <a href="/terms">Terms</a>
      </div>

    </div>
  </div>
</footer>

















<!-- <footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-whatsapp"></i>
      <i class="fa-brands fa-x-twitter"></i>
    </div>
    <div>&copy;Staysia Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a> &nbsp;
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer> -->
